<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ooops!! 好像,哪里遇到了错误啦！</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="no-cache" http-equiv="Pragma">
  <meta content="no-cache" http-equiv="Cache-Control">
  <meta content="0" http-equiv="Expires">
  <script type="application/x-javascript">
    addEventListener("load",
      function () {
        setTimeout(hideURLbar, 0);
      }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>

  <link media="all" rel="stylesheet" th:href="@{/error/css/style.css}" type="text/css"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
  <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js}"></script>
  <![endif]-->
</head>

<body>
<div class="main w3l">
  <div class="nav_w3l">
    <ul>
      <li><a class="back" href="javascript:;">返回首页</a></li>
      <li><a class="back" href="javascript:;">返回上一页</a></li>
      <li><a class="back" id="Google"
             target="_blank" th:href="@{'https://www.google.com/webhp?hl=zh-CN#safe=strict&hl=zh-CN&q='+${message}}">Google</a></li>
      <li><a class="back" id="Baidu" target="_blank"
             th:href="@{'https://www.baidu.com/s?wd='+${message}}">Baidu</a></li>
      <li><a class="back" id="StackOverFlow" target="_blank"
             th:href="@{'https://stackoverflow.com/search?q='+${message}}">StackOverFlow</a></li>
    </ul>
  </div>

  <h2 th:text="${status} + '     错误!'"></h2>
  <hr/>
  <h3 th:text="'请求地址： '+ ${path}"></h3>
  <h3 th:text="'错误代码： '+ ${status}"></h3>
  <h3 th:text="'错误提示： '+ ${error != null ? error : ''}"></h3>
  <h3 th:text="'异常消息： '+ ${message}"></h3>
  <h3 th:text="'异常对象： '+ ${exception != null ? exception : ''}"></h3>
  <h3 th:text="'请求时间： '+ ${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss')}"></h3>
  <h3>错误/异常栈信息，StackTrace: </h3>
  <div>
    <div th:each="line:${trace}">
      <h5 th:inline="text">[[${line}]]</h5>
    </div>
  </div>

  <div class="footer agileits">
    <p>Copyright © 2018~2030. All Rights Reserved | Design by <a href="https://gitee.com/dromara/dante-cloud"
                                                                 target="_blank">码匠君</a></p>
  </div>
</div>
</body>
</html>
